/* Phrases */
#phrases {
  border-bottom: 1px solid #e4e9ed;
  margin: 0;
  padding-left: 0;
}

#phrases li {
  background-color: #fff;
  border-bottom: 1px solid #e4e9ed;
  border-top: 1px solid #e4e9ed;
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 15px;
  cursor: pointer;
}

#phrases li:hover {
  background-color: #F1F5F9;
}

#phrases .checkbox {
  float: left;
  padding: 15px 0 15px 7px;
  font-size: 28px;
  /*text-align: center;*/
  width: 50px;
}

#phrases .active,
#phrases .active:hover {
  background-color: #5DCFF3;
  border-color: #5DCFF3;
  color: #fff;
}

#phrases .active .tag,
#phrases .active:hover .tag,
#phrases .active .date,
#phrases .active:hover .date {
  color: #fff;
}

#phrases .active .checkbox,
#phrases .active:hover .checkbox{
  color: #fff;
}

#phrases li:hover .tag {
  color: #7f8c8d;
}