/* Phrases */
#phrases {
  margin: 0;
  padding-left: 0;
}

#phrases li {
  background-color: #fff;
  border-bottom: 1px solid #e4e9ed;
  border-top: 1px solid #e4e9ed;
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 15px;
  cursor: pointer;
}

#phrases li.active {
  border-color: #4CCAF2;
  position: relative;
  z-index: 1;
}

/* hide the top border of the first
   and the bottom border of the last */
#phrases li:first-child { border-top: none; }

/* hover state */
#phrases li:hover {
  background-color: #F1F5F9;
}

#phrases .checkbox {
  float: left;
  padding: 15px 0 15px 7px;
  font-size: 28px;
  /*text-align: center;*/
  width: 50px;
}

#phrases .active,
#phrases .active:hover {
  background-color: #5DCFF3;
  color: #fff;
}

#phrases.bulk-delete-mode .active,
#phrases.bulk-delete-mode .active:hover {
  background-color: #FB6B5B;
  border-color: #FB6B5B;
}

#phrases.bulk-delete-mode .active {
  border-color: #FB5B4A;
}

#phrases .actions * {
  color: #bdc3c7;
  margin-right: 5px;
}

#phrases .actions a {
  color: #bdc3c7;
  text-decoration: none;
}

#phrases li:hover .actions a {
  color: #7f8c8d;
  text-decoration: underline;
}

#phrases .active .date,
#phrases .active:hover .date,
#phrases .active .checkbox,
#phrases .active:hover .checkbox,
#phrases .active .actions *,
#phrases .active:hover .actions * {
  color: #fff;
}

#phrases .empty,
#phrases .empty:hover {
  background-color: transparent;
  border: none;
  color: #BBC5DD;
  cursor: default;
  padding: 200px 15px;
  text-align: center;
}