.info-bar {
  background-color: #F2F4F8;
  color: #545454;
  display: block;
  padding: 15px 15px 13px;
  width: 100%;
  height: 56px;
  position: relative;
  z-index: 1;
}

.info-bar .btn {
  margin-top: -4px;
}