#left .action-bar {
  background-color: #4C5566;
  color: #fff;
}

.action-bar {
  background-color: #F2F4F8;
  padding: 20px 15px;
  height: 72px;

  /* place action-bar above phrases AND infobar ** DO NOT REMOVE */
  position: relative; 
  z-index: 2;
}

/* SEARCH FIELD */
.search-field {
  position: relative;
  display: inline-block;
}

.search-field .icon-search {
  color: #919599;
  left: 10px;
  position: absolute;
  top: 9px;
  z-index: 1;
}

input.search {
  background-color: #fff;
  border-radius: 17px;
  position:relative;
  border: 1px solid #5DCFF3;
  color: #545454;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 12px 7px 30px;
  width: 185px;
}

input.search.placeholder {
  border-color: #E4E8F2;
  color: #919599;
  font-weight: normal;
}

input.search.placeholder:hover {
  border-color: #DDE2EE;
}




/* ------- ADD PHRASE FORM --------- */
#addPhraseForm {
  /* popup position */
  top: 64px;
  left: 15px;
}


/* padding */
#addPhraseForm input.title,
#addPhraseForm #tagsField,
#addPhraseForm textarea,
#addPhraseForm .popup-title,
#addPhraseForm .btn-submit {
  display: block;
  padding: 10px 15px;
  border: 0;
  width: 564px;
}

#addPhraseForm textarea {
  height: 355px;
}

#addPhraseForm a:hover .icon-user,
#addPhraseForm a:hover .icon-calendar,
#addPhraseForm a:hover .icon-align-justify,
#addPhraseForm a:hover .icon-font {
  color: #fff;
}

#addPhraseForm .btn {
  border-radius: 0px 0px 4px 4px;
}

/* ------- SETTINGS FORM --------- */
#settingsForm {
  /* popup position */
  top: 64px;
  right: 15px;
}

#settingsForm textarea {
  height: 355px;
}

#settingsForm a:hover .icon-user,
#settingsForm a:hover .icon-calendar,
#settingsForm a:hover .icon-align-justify,
#settingsForm a:hover .icon-font {
  color: #fff;
}

/* arrow shadow */
#settingsForm:before {
  left: auto;
  right: 10px;
}
/* arrow */
#settingsForm:after {
  left: auto;
  right: 11px;
}

#settingsForm .btn-submit {
  border-radius: 0px 0px 4px 4px;
}