#settingsForm {
  /* popup position */
  top: 64px;
  right: 15px;
}

#settingsForm textarea {
  height: 355px;
}

#settingsForm a:hover .fa-user,
#settingsForm a:hover .fa-calendar,
#settingsForm a:hover .fa-align-justify,
#settingsForm a:hover .fa-font {
  color: #fff;
}

/* arrow shadow */
#settingsForm:before {
  left: auto;
  right: 10px;
}
/* arrow */
#settingsForm:after {
  left: auto;
  right: 11px;
}

#settingsForm .btn-submit {
  border-radius: 0px 0px 4px 4px;
}

#settingsForm input,
#settingsForm select {
  float: right;
}

.setting {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.setting input {
  vertical-align: -2px;
}

.setting:hover {
  background-color: #F1F5F9;
}

/* when bulk insert setting is in popup title */
.popup-title .setting {
  float: right;
}

.popup-title .setting:hover {
  background-color: transparent;
}
